body{
    font-family: Arial, sans-serif;
    background:#0b0f17;
    color:white;
    margin:40px;
}

.header{
    display:flex; 
    align-items:flex-end; 
    justify-content:space-between; 
    margin-bottom:2rem; 
    gap:12px; 
}

.clock-box { 
    text-align:right; 
}

.clock { 
    font-size:32px; 
    font-weight:700; 
    color:var(--accent); 
    letter-spacing:.05em; 
}
.date-txt { 
    font-size:10px;
    color:var(--muted); 
    margin-top:2px; 
}

h1{
    color:#f2c94c;
}

.container{
    max-width:1000px;
    margin:auto;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr); /* disesuaikan jadi 3 */
    gap:15px;
    margin-bottom:30px;
}

.card{
    background:#151a24;
    padding:20px;
    border-radius:8px;
}

.card h2{
    margin:0;
    color:#f2c94c;
}

.form-box{
    background:#151a24;
    padding:20px;
    border-radius:8px;
    margin-bottom:30px;
}


input,select{
    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:10px;
    background:#0f141d;
    color:white;
    border:1px solid #333;
}

button{
    background:#f2c94c;
    border:none;
    padding:10px;
    width:100%;
    font-weight:bold;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #333;
    padding:10px;
    text-align:left;
}

th{
    background:#151a24;
}

button:hover { 
    background:#151a24;
    border: 1px solid #f2c94c;
    color:#f2c94c;
}

.submit-btn {
    display: flex;
    gap: 5px;
    justify-content: center; 
}

.submit-btn button {
    background-color: transparent;
    border: 1px solid #dfdfdf39;
    color: #ffffff68;
    padding: 5px 10px;
    cursor: pointer;
}

i {
    font-size: 18px;
}
